.container {
    display: grid;
    /*grid-template-columns: 1fr 2fr 2fr 1fr;*/
    padding: 10px;
    grid-gap: 10px;
    grid-template:
        'item1 item2 item4'
        'item1 item3 item4'
        'item1 item3 item4';
    border: solid 1px;
    width: 100%;
    height: 400px;
}

.container > div {
    border: dotted 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
