<h1>Clientes</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Sexo</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>9999</td>
            <td>AAAAAA</td>
            <td>BBBBBB</td>
            <td>CCCCCC</td>
            <td>555555</td>
            <td></td>
        </tr>
    </tbody>
</table>
