<h3>Novo Cliente</h3>
<hr>
<form action="/clientes/save" method="POST">
    <div class="form-group">
        <label for="txtnome">Nome:</label>
        <input type="text" name="nome"
            id="txtnome"
            class="form-control">
    </div>
    <!--colocar os demais campos do cliente-->
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>