<h3>Novo Cliente</h3>
<hr>
<form action="/clientes/save" method="POST">
    <div class="form-group">
        <label for="txtnome">Nome:</label>
        <input type="text" name="nome"
            id="txtnome"
            class="form-control">
    </div>
    <!--colocar os demais campos do cliente-->
    <div class="form-group">
        <label for="txtendereco">Endereço:</label>
        <input type="text" id="txtendereco" 
        class="form-control" name="endereco">
    </div>

    <div class="form-group">
        <label for="txtsexo">Sexo:</label>
        <input type="text" id="txtsexo" 
        class="form-control" name="sexo">
    </div>

    <div class="form-group">
        <label for="txttelefone">Telefone:</label>
        <input type="text" id="txttelefone" 
        class="form-control" name="telefone">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>