body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
.container {
    border: solid 3px red;
    height: 100vw;
}
.topo {
    border: solid 3px orangered;
}